<h1><%= @user.firstname %> <%= @user.lastname %></h1>

Email: <%= @user.email %></br>
<%= link_to("Edit my profile", edit_user_path(@user)) %>

<%= render partial: 'users/future', object: @future_events %>

<%= render partial: 'users/restaurant', locals: { restaurants: @restaurants } %>

<%= render partial: 'users/district', locals: { districts: @districts } %>

<%= render partial: 'users/past', locals: { past_events: @past_events } %>

<%= link_to("Return to homepage", "/") %>