<h1><%= @user.firstname %> <%= @user.lastname %></h1>

<p>
  Email: <%= @user.email %>
  <br />
  Events added: 
	<% e = @user.events.flatten.size - 1 %>
	<% until e < 0 do %>
	<%= @user.events.flatten[e].name %>
	<% e -= 1 %>
	<% end %>	
  <br />
  Retaurants added:
 	<% r = @user.restaurants.flatten.size - 1 %>
	<% until r < 0 do %>
	<%= @user.restaurants.flatten[r].name %>
	<% r -= 1 %>
	<% end %>	 
</p>

<%= link_to("Return to homepage", "/") %>