<h1><%= @user.firstname %> <%= @user.lastname %></h1>

Email: <%= @user.email %>

<%= render partial: 'users/future', locals: { events: @events } %>

<%= render partial: 'users/restaurant', locals: { restaurants: @restaurants } %>


<%= link_to("Edit my profile", edit_user_path(@user)) %>
<%= link_to("Return to homepage", "/") %>