<h1>Create your event:</h1>

<%= form_for @event do |e| %>
  Name:
  <%= e.text_field :name %>
  <br />
  Date:
  <%= e.date_field :date, min: Date.today-1 %>
   <br />
  Time:
  <%= e.time_field :time %>
   <br />
  District:
  <%= e.text_field :district_id %>
   <br />
  Address:
  <%= e.text_field :address %>
  <br />
  Maximum attendee:
  <%= e.text_field :max_attendee %>
  <br />
  Current attendee:
  <%= e.text_area :current_attendee, value: 0 %>
  <br />
  Description:
  <%= e.text_area :description %>
  <br />
  <%= e.hidden_field :user_id, value: current_user.id %>
  <%= e.submit %>
<% end %>

<%= link_to "Back to Events",events_path %>