<h1><%= @event.name %></h1>
<p>
  Date: <%= @event.date %>
  <br />
 	Time: <%= @event.time.strftime("%l:%M %p") %>
  <br />
  District: <%= @event.district.name %>
  <br />
  Address: <%= @event.address %>
  <br />
  Maximum attendee: <%= @event.max_attendee %>
	<br />
  Current attendee: <%= @event.current_attendee %>
	<br />
  Description: <%= @event.description %>
	<br />
  Created by: <%= @event.user.firstname%> <%= @event.user.lastname %>
  <br />

  <% if user_signed_in? %>
    <%= button_to 'join', join_event_path(@event), method: :post %>
    <%= button_to 'leave', leave_event_path(@event), method: :post %>
    Status: 
 
    <% if @event.attendees.include?(current_user) %>
      <%= "You are a participant"%>
    <% else %>
      <%= "You are not a participant" %>
    <% end %>
 
  <% if @event.user.id == current_user.id %>
    <%= button_to 'edit', edit_event_path(@event), method: :get %>
    <% else %>
    <% end %>

  <% else %>
  <% end %>
</p>

<%= link_to("See all events", events_path) %>
<%= link_to("Add a new event", new_event_path) %>