<h1>Update your restaurant:</h1>

<%= form_for @restaurant do |r| %>
  Name:
  <%= r.text_field :name %>
  <br />
  Address:
  <%= r.text_field :address %>
  <br />
  District:
  <%= r.text_field :district_id %>
  <br />
  Phone:
  <%= r.text_field :phone %>
  <br />
  Coupon:
  <%= r.text_area :coupon_type %>
  <br />
  <% hidden_field_tag(:user_id, {:user_id => current_user.id}) %>
  <%= r.submit %>
<% end %>

<%= link_to "Delete Restaurant", restaurant_path, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to Restaurants",restaurants_path %>