<h3>Update your restaurant</h3>

<%= simple_form_for @restaurant do |r| %>
  <%= r.input :name %>
  <br />
  <%= r.input :address %>
  <br />
  <%= r.association :district, as: :select %>
  <br />
  <%= r.input :phone, as: :string, input_html:{maxlength: 8, minlength: 8 } %>
  <br />
  <%= r.input :coupon_type, as: :text %>
  <br />
  <%= r.input :user_id, as: :hidden, input_html:{value: current_user.id} %>
  <%= r.button :submit, "Submit" %>
<% end %>

<%= link_to "Delete Restaurant", restaurant_path, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Back to Restaurants",restaurants_path %>