<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-3">

<h3><%= @restaurant.name %></h3>
Managed by <%= @restaurant.user.firstname %> <%= @restaurant.user.lastname %>
  <% if user_signed_in? && @restaurant.user.id == current_user.id %>
    <%= link_to 'Edit', edit_restaurant_path(@restaurant), method: :get %>
  <% else %>
  <% end %><br/><br/>

<p>
  Address | <%= @restaurant.address %>, <%= @restaurant.district.name %>
  <br />
  Phone | <%= @restaurant.phone %>
  <br />
  Coupon | <%= @restaurant.coupon_type %>
  <br />
</p>

<%= link_to("See all restuarants", restaurants_path) %> | 
<%= link_to("Add a new restuarant", new_restaurant_path) %>

    </div>
  </div>
</div>
