<div>
  <div style='float:left'>
    <%= link_to(root_path) do %>
      <h1>Share Your Meal</h1>
    <% end %>
  </div>
  <div style='float:right'>
    <%= link_to('All Restaurants', restaurants_path) %> |
    <%= link_to('All Events', events_path) %> |
    <% if user_signed_in? %>
      <%= link_to("Add a New Event", new_event_path) %> |
      <%= link_to("Add a New Restaurant", new_restaurant_path) %> |
      <%= link_to("My Profile", user_path(current_user)) %> |
      <%= link_to("Sign Out", destroy_user_session_path, method: :delete)%>
    <% else %>
      <%= link_to("Sign In", new_user_session_path) %> |
      <%= link_to("Register", new_user_registration_path) %> |
    <% end %>
  </div>
</div>

<br clear="all"/>